Repository MicrosoftDocs/sccm-docs-powershell-ref, pull requests merged in 2019-05, with the labels that each got.

#67 Update Get-CMSoftwareUpdateGroup.md
  sccm-ps/ConfigurationManager/Get-CMSoftwareUpdateGroup.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge

#69 Updated Table of Content Page with New Function Links
  sccm-ps/ConfigurationManager/ConfigurationManager.md
Labels: Change sent to author, do-not-merge, needs-human-review, powershell/svc

#68 Fixed all references of 'a t s' to 'a TS'
  sccm-ps/ConfigurationManager/Get-CMTSStepConditionFile.md
  sccm-ps/ConfigurationManager/Get-CMTSStepConditionFolder.md
  sccm-ps/ConfigurationManager/Get-CMTSStepConditionIfStatement.md
  sccm-ps/ConfigurationManager/Get-CMTSStepConditionOperatingSystem.md
  sccm-ps/ConfigurationManager/Get-CMTSStepConditionQueryWmi.md
  sccm-ps/ConfigurationManager/Get-CMTSStepConditionRegistry.md
  sccm-ps/ConfigurationManager/Get-CMTSStepConditionSoftware.md
  sccm-ps/ConfigurationManager/Get-CMTSStepConditionVariable.md
  sccm-ps/ConfigurationManager/Get-CMTSStepInstallApplication.md
  sccm-ps/ConfigurationManager/Get-CMTSStepInstallSoftware.md
  sccm-ps/ConfigurationManager/Get-CMTSStepInstallUpdate.md
  sccm-ps/ConfigurationManager/Get-CMTSStepPartitionDisk.md
  sccm-ps/ConfigurationManager/Get-CMTSStepReboot.md
  sccm-ps/ConfigurationManager/Get-CMTSStepRunCommandLine.md
  sccm-ps/ConfigurationManager/Get-CMTSStepRunPowerShellScript.md
  sccm-ps/ConfigurationManager/Get-CMTSStepSetVariable.md
  sccm-ps/ConfigurationManager/Get-CMTSStepSetupWindowsAndConfigMgr.md
  sccm-ps/ConfigurationManager/New-CMTSPartitionSetting.md
  sccm-ps/ConfigurationManager/New-CMTSStepConditionFile.md
  sccm-ps/ConfigurationManager/New-CMTSStepConditionFolder.md
  sccm-ps/ConfigurationManager/New-CMTSStepConditionIfStatement.md
  sccm-ps/ConfigurationManager/New-CMTSStepConditionOperatingSystem.md
  sccm-ps/ConfigurationManager/New-CMTSStepConditionQueryWmi.md
  sccm-ps/ConfigurationManager/New-CMTSStepConditionRegistry.md
  sccm-ps/ConfigurationManager/New-CMTSStepConditionSoftware.md
  sccm-ps/ConfigurationManager/New-CMTSStepConditionVariable.md
  sccm-ps/ConfigurationManager/New-CMTSStepInstallApplication.md
  sccm-ps/ConfigurationManager/New-CMTSStepInstallSoftware.md
  sccm-ps/ConfigurationManager/New-CMTSStepInstallUpdate.md
  sccm-ps/ConfigurationManager/New-CMTSStepPartitionDisk.md
  sccm-ps/ConfigurationManager/New-CMTSStepReboot.md
  sccm-ps/ConfigurationManager/New-CMTSStepRunCommandLine.md
  sccm-ps/ConfigurationManager/New-CMTSStepRunPowerShellScript.md
  sccm-ps/ConfigurationManager/New-CMTSStepSetVariable.md
  sccm-ps/ConfigurationManager/New-CMTSStepSetupWindowsAndConfigMgr.md
  sccm-ps/ConfigurationManager/Remove-CMTSStepInstallApplication.md
  sccm-ps/ConfigurationManager/Remove-CMTSStepInstallSoftware.md
  sccm-ps/ConfigurationManager/Remove-CMTSStepInstallUpdate.md
  sccm-ps/ConfigurationManager/Remove-CMTSStepPartitionDisk.md
  sccm-ps/ConfigurationManager/Remove-CMTSStepReboot.md
  sccm-ps/ConfigurationManager/Remove-CMTSStepRunCommandLine.md
  sccm-ps/ConfigurationManager/Remove-CMTSStepRunPowerShellScript.md
  sccm-ps/ConfigurationManager/Remove-CMTSStepSetVariable.md
  sccm-ps/ConfigurationManager/Remove-CMTSStepSetupWindowsAndConfigMgr.md
  sccm-ps/ConfigurationManager/Set-CMTSStepInstallApplication.md
  sccm-ps/ConfigurationManager/Set-CMTSStepInstallSoftware.md
  sccm-ps/ConfigurationManager/Set-CMTSStepInstallUpdate.md
  sccm-ps/ConfigurationManager/Set-CMTSStepPartitionDisk.md
  sccm-ps/ConfigurationManager/Set-CMTSStepReboot.md
  sccm-ps/ConfigurationManager/Set-CMTSStepRunCommandLine.md
  sccm-ps/ConfigurationManager/Set-CMTSStepRunPowerShellScript.md
  sccm-ps/ConfigurationManager/Set-CMTSStepSetVariable.md
  sccm-ps/ConfigurationManager/Set-CMTSStepSetupWindowsAndConfigMgr.md
Labels: Change sent to author, do-not-merge, needs-human-review

#64 Removed unused CollectionTypes
  sccm-ps/ConfigurationManager/New-CMCollection.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge

#53 Remove cmboundarygroup
  sccm-ps/ConfigurationManager/Remove-CMBoundaryGroup.md
Labels: Change sent to author, do-not-merge, needs-human-review

#52 Update Get-CMBoundaryGroup.md
  sccm-ps/ConfigurationManager/Get-CMBoundaryGroup.md
Labels: Change sent to author, do-not-merge, needs-human-review

#63 Added note about the maximum size of icons in applications
  sccm-ps/ConfigurationManager/New-CMApplication.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge

#62 Updated Import-CMApplication to note path must be UNC.
  sccm-ps/ConfigurationManager/Import-CMApplication.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge

#55 Change PowerShell Example to use Dynamic Path
  docs-conceptual/overview.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, do-not-merge, qualifies-for-auto-merge

#51 Fix for doc feedback #50
  sccm-ps/ConfigurationManager/Set-CMApplication.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge

#71 added tip on icon size
  sccm-ps/ConfigurationManager/New-CMApplication.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge

#36 Updated New-CMTaskSequence Link
  sccm-ps/ConfigurationManager/Remove-CMTaskSequence.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, qualifies-for-auto-merge, ready-to-merge

#46 Updated New-CMTaskSequence Link
  sccm-ps/ConfigurationManager/Import-CMTaskSequence.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, qualifies-for-auto-merge, ready-to-merge

#45 Updated New-CMTaskSequence Link
  sccm-ps/ConfigurationManager/Set-CMTaskSequence.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, qualifies-for-auto-merge, ready-to-merge

#37 Updated New-CMTaskSequence Link
  sccm-ps/ConfigurationManager/New-CMTaskSequence.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, qualifies-for-auto-merge, ready-to-merge

#44 Updated New-CMTaskSequence Link
  sccm-ps/ConfigurationManager/Copy-CMTaskSequence.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, qualifies-for-auto-merge, ready-to-merge

#41 Updated New-CMTaskSequence Link
  sccm-ps/ConfigurationManager/Disable-CMTaskSequence.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, qualifies-for-auto-merge, ready-to-merge

#40 Updated New-CMTaskSequence Link
  sccm-ps/ConfigurationManager/Enable-CMTaskSequence.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, qualifies-for-auto-merge, ready-to-merge

#39 Updated New-CMTaskSequence Link
  sccm-ps/ConfigurationManager/Export-CMTaskSequence.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, qualifies-for-auto-merge, ready-to-merge

#38 Updated New-CMTaskSequence Link
  sccm-ps/ConfigurationManager/Get-CMTaskSequence.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, qualifies-for-auto-merge, ready-to-merge

#65 Fixed numerous broken links
  docs-conceptual/1710_Release_Notes.md
  docs-conceptual/1802_Release_Notes.md
Labels: Change sent to author, do-not-merge, powershell/svc, qualifies-for-auto-merge

#76 Removed locale from links
  docs-conceptual/1702_Release_Notes.md
  docs-conceptual/1706_Release_Notes.md
  docs-conceptual/1710_Release_Notes.md
  docs-conceptual/1802_Release_Notes.md
  sccm-ps/ConfigurationManager/New-CMBoundaryGroup.md
  sccm-ps/ConfigurationManager/Set-CMBoundaryGroup.md
  sccm-ps/ConfigurationManager/Set-CMSite.md
Labels: do-not-merge, qualifies-for-auto-merge

#77 Removed incorrect possible value for -ScheduleEvent
  sccm-ps/ConfigurationManager/Start-CMPackageDeployment.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, do-not-merge, qualifies-for-auto-merge

#56 Added example code for connecting to unknown site name
  docs-conceptual/overview.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, qualifies-for-auto-merge, ready-to-merge
